$width:28%;
$height:35%;
$maxwidth:100%;
$laptop:1440px;
$laptop1:1080px;
$height1:40%;
$bcolor:red;
$bradius:5px;
$color:rgb(101, 100, 100);
$height3:60%;
@media (min-width:$laptop1) and (max-width:$laptop){
body
{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}
.main
{
    margin: 0;
    width: $maxwidth;
    height: $maxwidth;
    display: flex;
    flex-wrap: wrap;    
}
.nav
{
    width: $maxwidth;
    height: 8%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}
.maqola
{

}

}